.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.project-heading {
  color: white;
  margin-bottom: 20px;
}

.project-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.project-card {
  width: 1000px; 
  height: 1000px;
  background: #030c17;
  overflow: hidden;
  margin: 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(155, 155, 155, 0.2);
  border: aqua 1px solid;
}

figure.effect-ming {
  width: 500px; 
  height: 300px;
  background: #030c17;
  overflow: hidden;
  margin: 20px;
  position: relative;
  border-radius: 10px;
  margin: 50px;
}

figure.effect-ming img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  transition: opacity 0.35s;
}

figure.effect-ming figcaption {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 2px solid #fff;
  box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale3d(1.4,1.4,1);
  color: #fff; 
}

figure.effect-ming h2 {
  margin: 20% 0 10px 0;
  transition: transform 0.35s;
  color: #fff; 
}

figure.effect-ming p {
  padding: 1em;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1.5);
  text-align: center; 
  color: #fff; 
}

figure.effect-ming:hover img {
  opacity: 0.4;
}

figure.effect-ming:hover figcaption {
  opacity: 1;
  transform: scale3d(1,1,1);
}

figure.effect-ming:hover h2 {
  transform: scale(0.9);
}

figure.effect-ming:hover p {
  opacity: 1;
  transform: scale3d(1,1,1);
}
